@model MVC5Course.Models.Product

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Product</h4>
    <hr />
    @Html.DisplayFor(m => m)
</div>

@Html.Partial("ProductOrderLines", Model.OrderLine)

<hr />

@Html.Action("ProductOrderLines", new { id = Model.ProductId })

<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ProductId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
