@model IEnumerable<MVC5Course.Models.Product>

@{
    ViewBag.Title = "Index";
}
@{ 
    HtmlString a = Html.ActionLink("▲", "Index", "Products",new {sort="+",searchText=ViewBag.searchKey },new { });
    HtmlString b = Html.ActionLink("▼","Index", "Products", new { sort = "-", searchText = ViewBag.searchKey }, new { });
}
<h2>Index</h2>
<div>
    <form>
        @Html.TextBox("searchText")
        <input type="submit" value="search" />
    </form>
</div>
<p>
    @Html.ActionLink("Create New", "Create")
</p>

@Html.Partial("_page", Model)
@using (Html.BeginForm())
{
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ProductName)
            </th>
            <th>
                @a
                @Html.DisplayNameFor(model => model.Price)
                @b
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Active)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Stock)
            </th>
            <th></th>
        </tr>
        @{
            var data = Model.ToArray();

        }
        @for (int i = 0; i < data.Count(); i++)
        {
            @Html.HiddenFor(modelItem => data[i].ProductId)
            <tr>
                <td>
                    @Html.EditorFor(modelItem => data[i].ProductName)
                    @Html.ValidationMessageFor(modelItem => data[i].ProductName)
                </td>
                <td>
                    @Html.EditorFor(modelItem => data[i].Price)
                    @Html.ValidationMessageFor(modelItem => data[i].Price)
                </td>
                <td>
                    @Html.EditorFor(modelItem => data[i].Active)
                    @Html.ValidationMessageFor(modelItem => data[i].Active)
                </td>
                <td>
                    @Html.EditorFor(modelItem => data[i].Stock)
                    @Html.ValidationMessageFor(modelItem => data[i].Stock)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = data[i].ProductId }) |
                    @Html.ActionLink("Details", "Details", new { id = data[i].ProductId }) |
                    @Html.ActionLink("Delete", "Delete", new { id = data[i].ProductId })
                </td>
            </tr>
        }

    </table>
    <input type="submit"  value="送出" />
}


